* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.h2 {
		text-align: center;
		font-size: 64px;
		margin: 20% auto;
		border: 1px dashed black;
		width: 500px;
	}

	.form {
		padding: 5px;
		width: 400px;
		text-align: center;
		position: relative;
		top: 10px;
		margin: 0 auto;
		background: lightblue;
	}
	
	.form input[type=text] {
		text-align: center;
		color: firebrick;
		padding: 10px 0;
		margin-right: 40px;
		border-radius: 20px;
	}


